.yellow {
    background-color: #ffc107;
    height: 40px;

}

.container .row .col-3 span img {
    width: 20px;
    height: 20px;
}

.container .row .col-3 div img {
    width: 20px;
    height: 20px;
}

.yellow .col-3 {
    padding: 5px;
}

.yellow .row col-2 {
    padding: 5px;
}

.navbar-nav {
    margin-left: auto;
}

.yellow-font {
    /* color: yellow; */
    color: #ffc107;
}

.carousel .carousel-item {
    height: 500px;
}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 500px;
}


.carousel-item:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
}


/* .carousel-caption * {
    margin: 30px;

} */

.welcome-div {
    padding: 50px;
}

.welcome-div .col-lg-4 img {
    height: 250px;
    width: 400px;

}

.cyan {
    background-color: #d6eef1;
}

.foo img {
    width: 100px;
    height: 100px;

}


.foo img {
    padding: 15px;
    border-radius: 999em;
    /* background-color: #F80; */
    border: 3px solid #ffc107;
    /* border-radius: 18px; */
    box-shadow: 0 0 2px #ffc107;
}

.card{
    background-color: inherit;
    border: none;

}
.card:hover {
    box-shadow: 0px 15px 10px -15px #111;    

  }